h1, h2, h3, h4, h5, p, pre, .post-title {
    margin-right: 10vw;
    margin-left: 10vw;
}

h1, h2, h3, .post-title {
    padding-bottom: 2vh;
}

h1, .post-title {
    padding-top: 1vh;
}

a.nav-link {
    color: rgb(173, 236, 207);
}

h1 {
    color: white;
}

h2 {
    color: lightslategray;
}

a.post-title {
    font-size: 2.5rem;
    color: white;
}

a.post-title:hover {
    color: lightslategray;
}

.card {
    width: 60vw;
}

.intro {
    font-size: 1.5vh;
}